.projects{

    padding:100px 80px;

    background:#111827;
}

.project-subtitle{

    text-align:center;

    color:#94A3B8;

    margin-bottom:60px;
}

.project-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;
}

.project-card{

    background:#1E293B;

    border-radius:20px;

    overflow:hidden;

    transition:.3s;
}

.project-card:hover{

    transform:translateY(-10px);
}

.project-image{

    height:220px;

    background:linear-gradient(135deg,#3B82F6,#8B5CF6);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    font-weight:bold;
}

.project-content{

    padding:25px;
}

.project-content h3{

    margin-bottom:15px;
}

.project-content p{

    color:#CBD5E1;

    line-height:1.7;

    margin-bottom:20px;
}

.project-content small{

    color:#3B82F6;

    display:block;

    margin-bottom:25px;
}

.project-buttons{

    display:flex;

    gap:15px;
}

.project-buttons button{

    flex:1;

    padding:12px;

    border:none;

    cursor:pointer;

    border-radius:8px;

    background:#3B82F6;

    color:white;

    transition:.3s;
}

.github-btn{

    background:transparent !important;

    border:2px solid #3B82F6 !important;
}

.project-buttons button:hover{

    transform:translateY(-3px);
}
@media(max-width:768px){

.projects{

padding:80px 25px;

}

.project-container{

grid-template-columns:1fr;

}

}
@media(max-width:768px){

.contact{

padding:80px 25px;

}

.contact-container{

grid-template-columns:1fr;

}

}