.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(15px);

    z-index: 1000;

    border-bottom: 1px solid rgba(255,255,255,.08);
}

.logo span{
    font-size: 28px;
    font-weight: 700;
    color: #3B82F6;
}

.nav-links{
    display:flex;
    gap:40px;
}

.nav-links a{
    color:white;
    font-size:16px;
    transition:.3s;
}

.nav-links a:hover{
    color:#3B82F6;
}

.resume-btn{

    background:#3B82F6;
    color:white;

    border:none;

    padding:12px 24px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}

.resume-btn:hover{

    transform:translateY(-3px);

    background:#2563EB;
}
.menu-icon{

    display:none;

    font-size:28px;

    color:white;

    cursor:pointer;
}

/* Tablet */

@media(max-width:900px){

.navbar{

padding:0 30px;

}

.nav-links{

gap:20px;

}

}

/* Mobile */

@media(max-width:768px){

.menu-icon{

display:block;

z-index:1001;

}

.resume-btn{

display:none;

}

.nav-links{

position:fixed;

top:80px;

right:-100%;

width:260px;

height:calc(100vh - 80px);

background:#111827;

display:flex;

flex-direction:column;

align-items:center;

justify-content:flex-start;

padding-top:50px;

gap:35px;

transition:.4s;
}

.nav-links.active{

right:0;

}

}
.nav-links a.active {
  color: #3B82F6;
  font-weight: 600;
}

.nav-links a.active::after {
  width: 100%;
}